[Desktop Entry]
Name=GST
GenericName=GPU Log Analyzer
Comment=GPU Support Toolkit log analysis
Exec=/usr/bin/gst-ui
Icon=gst
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=GPU;OpenGL;apitrace;trace;log;analysis;
StartupNotify=true
